<h2 class="marg">Name ändern</h2>
<hr class="hr-context">
<form data-cy="edit-name-form" (ngSubmit)="onSubmit()" class="edit-name" #projectForm="ngForm">
    <mat-form-field>
        <mat-label>Neuer Name</mat-label>
        <input data-cy="edit-name-input" matInput [(ngModel)]="edit.name" name="text" required>
    </mat-form-field>

  <button data-cy="edit-name-button" class="marg marg-bottom marg-top button" mat-raised-button color="primary" type="submit" [disabled]="!projectForm.valid">Speichern</button>
</form>