

app-header {
    width: 100%;
    height: 60px;
    display: inline-block;
}

app-project-list {
    flex: 0 0 20%;
    max-width: 20%;
    height: 100%;
}

.main-content {
    flex-grow: 1;
    height: 100%;
}

.main-content.full-width {
    flex: 0 0 100%;
    max-width: 100%;
}

.main-container {
    display: flex;
    height: calc(100% - 60px);
    width: 100%; 
}

@media (max-width:600px) {
    app-project-list {
        flex: 0 0 50%;
        max-width: 50%;
        height: 100%;    
    }
}
