.logo {
    height: 46px;
    width: 135px;
}

.spacer {
    flex: 1 1 auto;
}

.header-toolbar {
    height: 60px;
}

.dashboard-button {
    margin-left: 10px;
    cursor: pointer;
}

.burger-menu-button {
    cursor: pointer;

}