td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

th {
    color: #17365c;
    border-bottom: 1px solid #ddd;
}



table {
}

.marg {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.table-container {
    margin: 50px;
    overflow-y: auto;
    max-height: 400px;
}