.edit-description mat-form-field {
    margin-left: auto;
    margin-right: auto;
}

.marg {
    margin-left: auto;
    margin-right: auto;}

.marg-bottom {
     margin-bottom: 10px;
}

.edit-description {
    width: min-content;
    margin: auto;
}

.button {
    width: 100%;
}

.marg-top {
    margin-top: 20px;
}

.marg-top-less {
    margin-top: 0px;
}

.marg-bottom-less {
    margin-bottom: 0px;
}
