<div class="space-left">
  <div *ngIf="selectedProject">
    <div class="flex-container">
      <table class="project-details-table">
        <tr>
          <td data-cy="project-name-lable" class="fixed-names-row-size">
            <button data-cy="project-details-button-name-edit" class="edit-button" aria-label="Clear" (click)="editName(selectedProject)" mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
              </button>Projektname: </td>
          <td data-cy="project-name">{{ selectedProject.name }}</td>
        </tr>
        <tr *ngIf="selectedProject.description!=''">
          <td data-cy="project-description-lable" class="fixed-names-row-size">
            <button data-cy="project-details-button-discription-edit" class="edit-button" aria-label="Clear" (click)="editDescription(selectedProject)" mat-icon-button color="accent">
              <mat-icon >edit</mat-icon>
              </button>Beschreibung:  </td>
          <td data-cy="project-description">{{ selectedProject.description }}</td>
        </tr>
        <tr>
          <td data-cy="project-AImodel-lable" class="fixed-names-row-size aimodel-lable">AIModel:</td>
          <td data-cy="project-Aimodel">{{ aiModelName }}</td>
        </tr>
        <tr>
          <td data-cy="project-isvisualized-lable" class="fixed-names-row-size visualized-lable">Visualisierung:</td>
          <td data-cy="project-isvisualized-no" *ngIf="!isProjectVisualized(selectedProject) && !isProjectPartlyVisualized(selectedProject)">Nicht visualisiert <button data-cy="project-visualize-button-no" class="vis-button" (click)="startVisualization()" mat-raised-button color="accent">
            <mat-icon>autorenew</mat-icon>
            Visualisieren
            </button>
          </td>
          <td data-cy="project-isvisualized-yes" *ngIf="isProjectVisualized(selectedProject) && !isProjectPartlyVisualized(selectedProject)">Visualisiert <button data-cy="project-visualize-button-yes" class="vis-button" (click)="startVisualization()" mat-raised-button color="accent">
            <mat-icon>autorenew</mat-icon>
            Visualisieren
            </button>
          </td>
          <td data-cy="project-isvisualized-partly" *ngIf="isProjectPartlyVisualized(selectedProject) ">Teilweise visualisiert <button data-cy="project-visualize-button-partly" class="vis-button" (click)="startVisualizationRest()" mat-raised-button color="accent">
            <mat-icon>autorenew</mat-icon>
            Visualisieren
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="gallery-container">
      <div data-cy="project-gallery" class="gallery">
        <div *ngFor="let image of images" class="delete-image-container">
          <img [attr.src]="image.image_url | secure | async" [alt]="image.name"/>
          <div data-cy="project-gallery-img-delete" class="delete-icon" (click)="openDialog(image)">X</div>
        </div>
      </div>
    </div>
    <br>
    <form data-cy="project-img-upload-form" name="images" (ngSubmit)="uploadImage()">
      <input data-cy="project-img-upload-input" name="images" type="file" (change)="onFilesSelected($event)" multiple accept="image/jpeg,image/jpg,image/png">
      <button data-cy="project-img-upload-button" mat-raised-button color="accent" type="submit">
        <mat-icon>cloud_upload</mat-icon>
        Bild(er) hochladen
      </button>
    </form>
  </div>
  <div data-cy="project-details-project-not-selecte" *ngIf="!selectedProject">
    <h1>Wähle bitte ein Projekt aus.</h1>
  </div>
</div>


