.marg {
    margin-left: auto;
    margin-right: auto;
}

.padding-text {
    padding-left: 10px;
    padding-right: 10px;
}

.marg-bottom {
    margin-bottom: 10px;
}

.button {
}

.marg-top {
    margin-top: 20px;
}

.button-container {
    display: flex;
}

.center {
    text-align: center;
}